html,
body {
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*#classic-to-spa-request-info-display {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    background-color: rgba(0, 0, 0, .04);
}*/

body {
    display: flex;
    flex-direction: row;
}

#load-content {
    position: relative;
    flex-grow: 1;
    order: 0;
}

#classic-to-spa-request-info-display {
    order: 1;
    flex-basis: 400px;
    background-color: rgba(0, 0, 0, .04);
    padding: 20px;
}

#load-content > div.iframe-wrapper {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}

#load-content > div.iframe-wrapper > iframe {
    height:100%;
    width:100%;
}

#classic-to-spa-request-info-display > div {
}