html,
body {
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*#classic-to-spa-request-info-display {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    background-color: rgba(0, 0, 0, .04);
}*/

#load-content {
    position: absolute;
    margin-right: 400px;
}

#classic-to-spa-request-info-display {
    float: right;
    width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, .04);
}

#classic-to-spa-request-info-display > div {
    margin: 100px 10px 10px 10px;
}