
@{
    ViewBag.Title = "Home";
}

<h2>The Spify Sample Application</h2>

<p>This is a sample application demonstrating a way to create a singe-page application (SPA) from a classic web application.</p>

<p>All HTML this tiny site show is generated on the server, as it would be in a classic web application. Still, it is technically a SPA: All further requests made by navigation or the posting of form data are made asychronously.</p>

<p>That means in particular that all JavaScript this site needs (JQuery, for example) is only evaluated once and will not be reloaded on every navigation.</p>
