html,
body {
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*#classic-to-spa-request-info-display {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    background-color: rgba(0, 0, 0, .04);
}*/

body {
    display: flex;
    flex-direction: row;
}

#load-content {
    position: relative;
    flex-grow: 1;
    order: 0;
}

#classic-to-spa-request-info-display {
    order: 1;
    flex-basis: 400px;
    background-color: rgba(0, 0, 0, .04);
    padding: 20px;
}

#load-content > div.iframe-wrapper {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}

#load-content > div.iframe-wrapper > iframe {
    height:100%;
    width:100%;
}

#classic-to-spa-request-info-display > div {
}

/* Curtain */

#curtain {
    z-index: 99999;
}

#curtain > .curtain-background,
#curtain > .curtain-spinner,
#curtain > .curtain-background > .curtain-background-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#curtain > .curtain-background > .curtain-background-fill {
    background-color: white;
    opacity: .5;
}

@keyframes open-curtain {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

#curtain.active > .curtain-background {
    pointer-events: all;
    animation-name: open-curtain;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#curtain > .curtain-spinner {
    pointer-events: none;
    opacity: 0;
}

#curtain.active > .curtain-spinner {
    animation-name: open-curtain;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#curtain > .curtain-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
}

/* The spinner. */

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
